div.row
	div.col-sm-2
		div#home_body_image
	div.col-sm-10
		div.status_box
			form
				div.form-group
					textarea(class="form-control" rows="5")
		div.row
			div.col-sm-2.camera_icon
				span(class="glyphicon glyphicon-camera" aria-hidden="true")
			div.col-sm-4.col-sm-offset-6
				form
					div.form-group
						input(type= "submit", name= "commend", value= "Commend", class= "form-control submit_btn")
div.row.bodydivider
div.row