div.row.header_admin
	div.col-md-4
		span#header_admin= "Stratpulse"
		span#admin_text= "Admin"
	div.col-md-4.col-md-offset-3
		div.admin_search
			form
				div.form-group.has-feedback
					input(type= "text", name= "Admin_search", placeholder= "Search employee", class= "form-control")
					i(class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true")
