nav.navbar.navbar-transparent.navbar-fixed-top.navbar-color-on-scroll
    	div.container
        	div.navbar-header
        		button(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#navigation-example")
            		span.sr-only Toggle navigation
		            span.icon-bar
		            span.icon-bar
		            span.icon-bar

        		a(class="navbar-brand",href="http://www.creative-tim.com") Stratpulse
        	
        	div.collapse.navbar-collapse#navigation-example
        		ul.nav.navbar-nav.navbar-right
					li
    					a(href="../components-documentation.html", target="_blank") Components