doctype html
html(lang="en")
	include ./partials/head.pug
	body
		include ./partials/logged_in_header.pug
		div.container-fluid.home_content
			div.col-md-3.filler
			div.col-md-6
				include ./partials/body_list.pug
			div.col-md-3.filler